/*
** Making this Internet Explorer/Edge Legacy compatible is a nightmare.
** Honestly it's fucking retarded. Why is something as simple as a table so broken in IE?
*/

summary {
	font-weight: bold;
	display: block;
}
summary ~ * { margin: 0 0 0 30px; }
table tr td, table tr th {
	border: solid;
	border-width: 2px;
	overflow: hidden;
	word-break: normal;
	border-color: #ccc;
	white-space: nowrap;
}
details {
	display: block;
}
table {
	width: 65%;
}
table, th, tbody, th, td, tr, a { display: block; }
a {
	float: left;
	clear: left;
}
tr { border-bottom: 2px solid black; }
td {
	border: none;
	border-bottom: 2px solid #ccc;
	position: relative;
	padding-left: 50%;
	min-height: 20px;
	float: left;
	width: 100%;
	clear: both;
}
td:before {
	position: absolute;
	top: 1px;
	left: 6px;
}
td:nth-of-type(1):before { content: "Version"; }
td:nth-of-type(2):before { content: "Release Date"; }
td:nth-of-type(3):before { content: "Download"; }
td:nth-of-type(4):before { content: "Additional Notes"; }