/*
** Making this Internet Explorer/Edge Legacy compatible is a nightmare.
** Honestly it's fucking retarded. Why is something as simple as a table so broken in IE?
*/

/*If mobile device with touch*/
@media (pointer:coarse) {
	* { text-size-adjust: 200% }
	td { min-height: 45px !important; }
}
/*If Internet Explorer (10+)*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	td {
		float: left;
		width: 100%;
		clear: both;
	}
	details {
		display: block;
	}
	table {
		width: 65%;
	}
}
/*If Microsoft Edge*/
@supports (-ms-ime-align: auto) {
	td {
		float: left;
		width: 100%;
		clear: both;
	}
	details {
		display: block;
	}
	table {
		width: 65%;
	}
}
summary {
	font-weight: bold;
	cursor: pointer;
}
summary ~ * { margin: 0 0 0 30px; }
table tr td, table tr th {
	border: solid;
	border-width: 2px;
	overflow: hidden;
	word-break: normal;
	border-color: #ccc;
	white-space: nowrap;
}
table, th, tbody, th, td, tr { display: block; }
a {
	float: left;
	clear: left;
}
tr { border-bottom: 2px solid black; }
td {
	border: none;
	border-bottom: 2px solid #ccc;
	position: relative;
	padding-left: 50%;
	min-height: 20px;
}
td:before {
	position: absolute;
	top: 1px;
	left: 6px;
}
td:nth-of-type(1):before { content: "Version"; }
td:nth-of-type(2):before { content: "Release Date"; }
td:nth-of-type(3):before { content: "Download"; }
td:nth-of-type(4):before { content: "Additional Notes"; }