@font-face {
	font-family: 'PxPlus IBM VGA8';
	font-display: swap;
    src: local('PxPlus IBM VGA8'), local('PxPlus_IBM_VGA8'),
        url('PxPlus_IBM_VGA8.woff2') format('woff2'),
        url('PxPlus_IBM_VGA8.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'PxPlus IBM VGA9';
	font-display: swap;
    src: local('PxPlus IBM VGA9'), local('PxPlus_IBM_VGA9'),
        url('PxPlus_IBM_VGA9.woff2') format('woff2'),
        url('PxPlus_IBM_VGA9.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}